.carousel.carousel {
  &-slider {
    padding-bottom: 2.5rem;
  }
  &-slider .control.arrow {
    top: auto;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-slider .control.arrow:hover {
    background: none;
  }
}
